<!-- product -->
<div class="product-item wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0ms">
   <div class="product-img">
      <a href="#" class="image-hover">
         <div class="product-img product-image-photo">
             <!-- image_tag( product.picture.url, height: Settings.height_picture_product_index) if product.picture?  -->
            <img src="images/collections/<%= product.category.name %>/<%= product.id %>.jpg" alt="" class="product-image-photo">
         </div>
         <!--  <img src="images/product/9.jpg" alt="" class="product-image-photo">
         <img src="images/product/9-2.jpg" alt="" class="product-image-photo"> -->
      </a>
   </div>
   <div class="product-info">
      <div class="ratings">
         <div class="ratings">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star empty"></i>
            <i class="fa fa-star empty"></i>
         </div>
      </div>
      <div class="product-name">
         <%= link_to product.name ,product %></h4>
      </div>
      <div class="price-box price-final_price">
         <span class="price">
            <%= number_to_currency product.price %>
         </span>  
      </div>
      <!-- actions -->
      <div class="actions">
         <div class="action add-to-cart">
            <% if logged_in? %>
            <%= form_for @order_line, remote: true do |f| %>        
            <%= f.hidden_field :number, value: '1' %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit " " %>
            <% end %>
            <% end %>
         </div>
         <div class="action add-to-wishlist">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
            </a>
         </div>
         <div class="action add-to-quickview">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
            </a>
         </div>
      </div>
      <!-- end actions -->
   </div>
</div>
<!-- </div> -->
<!-- end product -->
