<% @orders.each do |order| %>
<li>
  Adress: <%= order.address %> .
  Subtotal: <%= order.subtotal %> .
  Tax:  <%= order.tax %> .
  Status: <%= StateOrder.find(order.state_order_id).name %>
  User Name: <%= User.find(order.user_id).name %>
</li>
<%= link_to "Detail", admin_order_path(order) %>
<% if order.state_order_id == 6 %>
  <%= form_for [:admin, order] do |f|  %>
      <%= f.hidden_field :user_id, value: order.user_id %>
      <%= f.hidden_field :order_id, value: order.id %>
      <%= f.hidden_field :state_order_id , value: '3' %>
      <%= f.submit "Accept" %> 
    <% end %>
  <% end %>
<% end %>
