<section  class="engo-box">
   <div class="carousel-product upsell-product">
      <div class="container">
         <div class="box-title">
            <h3 class="h3-title">
               Upsell product
            </h3>
            <div class="title-icon">
               <img src="images/title-icon.png" alt="">
            </div>
         </div>
         <!-- tab content -->
         <div class="box-content">
            <div class="product-grid owl-carousel-play" data-ride="owlcarousel">
               <!-- row item -->
               <div class="row clearfix owl-carousel"  data-slide="4" data-pagination="false" data-navigation="false" data-desktop="4" data-desktopsmall="4" data-tablet="1" data-tabletsmall="1" data-mobile="1">
                  <!-- product -->
                  <%= render "components/product/product_item_v2"%>
                  <%= render "components/product/product_item_v2"%>
                  <%= render "components/product/product_item_v2"%>
                  <%= render "components/product/product_item_v2"%>
                  <%= render "components/product/product_item_v2"%>
                  <!-- end product -->
               </div>
               <!-- end row item -->
            </div>
         </div>
         <!-- end tab container -->
      </div>
   </div>
</section>