<% @orders.each do |order| %>
<li>
  Adress: <%= order.address %> .
  Subtotal: <%= order.subtotal %> .
  Tax:  <%= order.tax %> .
  Status: <%= StateOrder.find(order.state_order_id).name %>
  User Name: <%= User.find(order.user_id).name %>
</li>
<%= link_to "Detail", order %>
<% end %>
