<br>
<br>
<br>
<br>

<% @orders.each do |order| %>
<li>
  Adress: <%= order.address %> .
  Subtotal: <%= order.subtotal %> .
  Status: <%= StateOrder.find(order.state_order_id).name %>
  User Name: <%= User.find(order.user_id).name %> ---------------
  <%= link_to "Detail", order %>
</li>
<% end %>
<br>
<br>
<br>
<br>

