<% @orders.each do |order| %>
<li>
  Adress: <%= order.address %> .
  Subtotal: <%= order.subtotal %> .
  Tax:  <%= order.tax %> .
  User Name: <%= User.find(order.user_id).name %>
  Status: <%= StateOrder.find(order.state_order_id).name %>
</li>
<%= link_to "Detail", shipper_order_path(order) %> <br>
<% if order.state_order_id == 2 %>
  <%= link_to "Take this order", '#' %>
<% end %>
<% end %>
