<div class="well">
  <div class="row">
    <div class="col-xs-8">
      <h4><%= product.name %></h4>
      <h4><%= product.quantity %><%= "Item Stock" %></h4>
    </div>
    <div class="col-xs-4">
      <h4 class="text-right"><%=  "Unit Price" %>: 
        <%= number_to_currency product.price %></h4>
      <% if logged_in? %>
        <%= form_for @order_line, remote: true do |f| %>        
          <div class="input-group">
            <%= f.number_field :number, value: 1, 
              class: "form-control", min: 1 %>
            <div class="input-group-btn">
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.submit "Add To Cart", 
                class: "btn btn-warning" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
