<div class="well">
  <div class="row">
    <div class="col-xs-8">
      <h4><%= link_to product.name , product %></h4>
      <h4><%= product.quantity %>:<%= "Stock" %></h4>
    </div>
    <div class="col-xs-4">
      <h4 class="text-right"><%=  "unit_price" %>: 
        <%= number_to_currency product.price %></h4>
    </div>
  </div>
</div>
