<main class="wrapper main-content detail ">
   <!-- breadcrumb -->
<!--    <div class="breadcrumbs">
   </div>
   <div class="breadcrumbs">
   </div> -->
   <div class="breadcrumbs" style="margin-top: 60px;">
      <div class="container">
         <ul class="items">
            <li class="item home">
               <a href="#" title="Go to Home Page">Home</a>
            </li>
            <% if @product.category != nil %> 
            <li class="item category">
               <a href="#" ><%= @product.category.name %></a>
            </li>
            <% end %>
            <li class="item product-item">
               <strong><%= @product.name %></strong>
            </li>
         </ul>
      </div>
   </div>
   <!-- End breadcrumbs -->
   <!-- product single -->
   <div class="product-single">
      <div class="container">
         <%= render "components/product/product_info" %>
         <%= render "components/product/product_desciption" %>
          <!-- render "components/product/product_related"  -->
          <br><br><br>
      </div>
   </div>
   <!-- eng product single -->
</main>

<script type="text/javascript">
   var product = <%= @product.to_json.html_safe -%>;

   console.log(product);
</script>