<header  class="site-header header-v4">
 <!-- header main -->
 <div class="header-main  clearfix">
  <div class="container-full-screen">
   <div class="container1 clearfix">

    <div class=" hidden-lg hidden-md  engo-mainmenu offcanvas-fixed">
     <div class="btn-toggle-menu  btn-nav" data-toggle="offcanvas">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>
  </div>

  <!-- .logo -->
  <div class="logo">
    <%= image_tag("logo/logo_2.svg") %>
  </div>
  <!-- end .logo -->
  <!-- nav -->
  <div id="main-menu" class="container main-menu clearfix">
   <ul class="main-nav clearfix">
    <!--Home page -->
    <li><%= link_to "Homepage", root_path %></li>

    <!--Categories -->
    <li>
      <%= link_to "Categories", categories_path %>
      <ul class="sub-menu">
       <li><a href="#">Pant</a></li>
       <li><a href="#">Vest</a></li>
       <li><a href="#">Shirt</a></li>
       <li><a href="#">Dress</a></li>
     </ul>
   </li>

   <li>
    <a href="#" title="">Blog</a>
    <ul class="sub-menu">
     <li><a href="blog-v4.html">Blog version 1</a></li>
     <li><a href="blog-v3-3col.html">Blog version 2</a></li>
     <li><a href="blog-v3-2col">Blog version 3</a></li>
     <li><a href="blog-v2-right.html">Blog version 4</a></li>
   </ul>
 </li>

 <li><a href="#" title="">Contact us</a></li>
 <%  if logged_in? %>
 <li><%= link_to "My accout", login_path %></li>
 <% else %>
 <li><%= link_to "Log in", login_path %></li>
 <li><%= link_to "Sign up", signup_path %></li>
 <% end %>
</ul>
</div>
<!-- end nav -->
<!-- right header -->
<div class="right-header">
  <!-- cart -->
  <% if  logged_in? %>
  <div class="mini-cart clearfix off-canvas-right">
   <div class="cart-icon off-canvas">
    <%= link_to image_tag("cart-icon2.png") , cart_path %>
  </div>
  <div class="cart-label off-canvas ">
    <%= link_to "Bag", cart_path %>
    <i>(<%= current_order.order_lines.size %>)</i>
  </div>
  <% end %>
  <!-- <div class="mini-cart-content off-canvas-content">
    <div class="clearfix top-mini-cart">
     <div class="cart-icon cart-control">
      <%= image_tag("assets/cart-white.png") %>
    </div>
    <div class="cart-label cart-control f-left">
      Bag
      <i>(3)</i>
    </div>
    <a href="#" class="close-off-canvas btn-close f-right">
      <%= image_tag("assets/btn-close.png") %>
    </a>
  </div> -->
 <!--  <ul class="cart_list">
   <li class="item clearfix">
    <a href="#" class="image pull-left">
     <%= image_tag("minicart/mini-product2.png") %>
   </a>
   <div class="cart-main-content media-body">
     <h3 class="name">
      <a href="#">
       Legging Cathedral                      
     </a>
   </h3>
   <div class="cart-item">
    <div class="price">
     <span class="amount">$35.00</span>
     <del>$75.00</del>
   </div>
   <span class="qty">
     QTY: 01
   </span>                    
 </div>
 <a href="#" class="remove" title="Remove this item"><i class="fa  fa-times-circle"></i></a>
</div>
</li>
<li class="item clearfix">
  <a href="#" class="image pull-left">
   <img src="images/minicart/mini-product2.png" alt="neon_legging_legx_2">                
 </a>
 <div class="cart-main-content media-body">
   <h3 class="name">
    <a href="#">
     Legging Cathedral                      
   </a>
 </h3>
 <div class="cart-item">
  <div class="price">
   <span class="amount">$35.00</span>
   <del>$75.00</del>
 </div>
 <span class="qty">
   QTY: 01
 </span>                    
</div>
<a href="#" class="remove" title="Remove this item"><i class="fa  fa-times-circle"></i></a>
</div>
</li>
<li class="item clearfix">
  <a href="#" class="image pull-left">
   <img src="images/minicart/mini-product2.png" alt="neon_legging_legx_2">                
 </a>
 <div class="cart-main-content media-body">
   <h3 class="name">
    <a href="#">
     Legging Cathedral                      
   </a>
 </h3>
 <div class="cart-item">
  <div class="price">
   <span class="amount">$35.00</span>
   <del>$75.00</del>
 </div>
 <span class="qty">
   QTY: 01
 </span>                    
</div>
<a href="#" class="remove" title="Remove this item"><i class="fa  fa-times-circle"></i></a>
</div>
</li>
</ul> -->
<!-- end product list -->
<!-- <div class="total-minicart">
 <p class="total"><strong>Subtotal:</strong> <span class="amount">$105.00</span></p>
 <p class="buttons clearfix">
  <a href="#" class="btn pull-left btn-minicart">View Cart</a>
  <a href="#" class="btn btn-primary pull-right  checkout btn-minicart">Checkout</a>
</p>
</div>
</div>
</div> -->
<!-- end cart -->

<!-- <div class="settings">
 <div class="btn-settings dropdown">
  <img src="images/icons/setting.svg" alt="">

</div>

<div class="toplinks dropdown-content">

 <div class="set links">
   <div>
    <i class="fa fa-unlock-alt"></i>
    <span>Login / Register</span>
  </div>
  <div>
    <i class="fa fa-user"></i>
    <span>My Account</span>
  </div>
  <div>
    <i class="fa fa-heart"></i>
    <span>My Wishlist</span>
  </div>
  <div>
    <i class="fa fa-check-circle"></i>
    <span>Checkout</span>
  </div>
</div>
</div>

</div>
-->



</div>
<!-- end right header -->
</div>
</div>
</div>
<!-- end header main -->
</header>
