
<header id="engo-masthead"  class="site-header header_content header-v4 <% unless current_page?(root_path) %>inherit<% end %>">
 <!-- header main -->
 <div class="header-main  clearfix">
  <div class="container-full-screen">
   <div class="container1 clearfix">

    <div class=" hidden-lg hidden-md  engo-mainmenu offcanvas-fixed">
     <div class="btn-toggle-menu  btn-nav" data-toggle="offcanvas">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>
  </div>

  <!-- .logo -->
  <div class="logo">
    <a title="Lam Hung Thien" href="/">
    <img alt="Shop Logo" src="/logo.png">
    </a>
  </div>
  <!-- end .logo -->
  <!-- nav -->
  <div id="main-menu" class="container main-menu clearfix">
   <ul class="main-nav clearfix">
    <!--Home page -->
    <li><%= link_to "Homepage", root_path %></li>

    <!--Categories -->
    <li>
      <a href="#">Categories</a>
      <ul class="sub-menu">
      <% categories.each do |category| %>
        <li><a><%= link_to category do %><%= category.name %><% end %></a></li>
      <% end %>
     </ul>
   </li>

   <li>
    <a href="#" title="">Blog</a>
    <ul class="sub-menu">
     <li><a href="blog-v4.html">Blog version 1</a></li>
     <li><a href="blog-v3-3col.html">Blog version 2</a></li>
     <li><a href="blog-v3-2col">Blog version 3</a></li>
     <li><a href="blog-v2-right.html">Blog version 4</a></li>
   </ul>
 </li>

 <li><a href="#" title="">Contact us</a></li>
 <%  if logged_in? %>
  <li><%= link_to "Whistlist", products_user_path(current_user) %></li>
  <li>
    <a href="">User</a>
    <ul class = "sub-menu">
      <li><%= link_to "My Order", orders_path%></li>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li><%= link_to "Log out", logout_path, method: :delete %></li>
    </ul>
  </li>
 <% else %>
 <li><%= link_to "Log in", login_path %></li>
 <li><%= link_to "Sign up", signup_path %></li>
 <% end %>
</ul>
</div>
<!-- end nav -->
<!-- right header -->
<div class="right-header">
  <!-- cart -->
  <% if  logged_in? %>
  <div class="mini-cart clearfix off-canvas-right">
   <div class="cart-icon off-canvas">
    <%= link_to image_tag("cart-icon2.png") , cart_path %>
  </div>
  <div class="cart-label off-canvas ">
    <%= link_to "Bag", cart_path %>
    <i>(<%= current_order.order_lines.size %>)</i>
  </div>
  <% end %>
</div>
<!-- end right header -->
</div>
</div>
</div>
<!-- end header main -->
</header>
